.hero {
  display: flex;
  flex-flow: row nowrap;
  padding: 1.5rem;

  .left {
    display: flex;
    flex-flow: column nowrap;

    h1 {
      font-size: 2.25rem;
      margin: 0 0 1rem;
    }

    p {
      font-size: 1.1rem;
      margin: 0 0 1.5rem;
      line-height: 1.4;
    }
  }

  .right {
    svg {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 2.5rem 4rem;
    align-items: flex-start;
    justify-content: space-between;

    .left {
      max-width: 55%;

      h1 {
        font-size: 3.15rem;
        margin: 0 0 2rem;
      }

      p {
        font-size: 1.15rem;
        margin: 0 0 2rem;
        max-width: 85%;
      }
    }

    .right {
      width: 30%;

      svg {
        width: 100%;
        display: block;
        height: min-content;
      }
    }
  }
}
