.recentPosts {
  padding: 1.5rem;

  h2 {
    color: #4d4d4d;
    font-size: 1.25rem;
  }

  a {
    margin: 1rem auto;
  }
}

.posts {
  display: flex;
  flex-flow: column;
}

.others {
  display: flex;
  flex-flow: column;

  .post:last-child {
    display: none;
  }
}

.post {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 8px 32px rgba(155, 162, 189, 0.25);
  border-radius: 0.25rem;
  overflow: hidden;
  background: #fff;

  &:hover {
    background: #feffff;
    .title {
      text-decoration: underline;
    }
  }
}

.thumbnail,
.thumbnail img {
  width: 100%;
}

.metaContainer {
  padding: 0.85rem 1.25rem 1.35rem;
}

.title {
  margin: 0 0 0.75rem 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 1;
  font-weight: bold;
  font-size: 1.5rem;
  color: #202329;
}

.description {
  display: none;
}

.date {
  margin: 0 0 0.75rem 0;
  color: #383838;
}

.meta {
  display: flex;
  align-items: center;
  color: #2c2c2c;
  font-weight: bold;
  font-size: 0.9rem;
  z-index: 1;

  & > *:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.author {
  white-space: nowrap;
}

.avatar {
  width: 1.85rem;
  min-width: 1.85rem;
  height: 1.85rem;
  min-height: 1.85rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .recentPosts {
    padding: 0rem 5% 4rem;
  }

  .featured .post {
    flex-flow: row;
    max-height: 26rem;
    margin: 0 0 1.5rem !important;

    &:hover {
      box-shadow: 0 8px 32px rgba(155, 162, 189, 0.45);
    }
  }

  .thumbnail {
    min-width: 60%;
    border-right: 1px solid rgba(155, 162, 189, 0.05);
    overflow: hidden;

    img {
      height: 100%;
      width: auto;
    }
  }

  .metaContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 2rem;
    padding: max(2rem, 2.5%);
  }

  .title {
    font-size: 1.85rem;
  }

  .description {
    display: block;
    margin: 0 0 1.25rem 0;
    font-size: 0.945rem;
    color: #3e444e;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .date {
    font-size: 0.85rem;
    font-weight: bold;
    color: #484e5a;
  }

  .author {
    font-size: 1rem;
  }

  .avatar {
    width: 2.15rem;
    height: 2.15rem;
    margin-right: 0.85rem !important;
  }

  .others {
    flex-flow: row;

    .post {
      max-height: none;
      margin: 0;
      margin-right: 1.5rem;

      &:last-child {
        display: flex;
        margin-right: 0;
      }
    }

    .title {
      margin-bottom: 1rem;
    }

    .thumbnail {
      max-height: 15rem;

      img {
        height: auto;
        width: 100%;
      }
    }

    .metaContainer {
      padding: 1.75rem;
      padding: min(1.75rem, 10%);
    }

    .author {
      font-size: 0.875rem;
      white-space: normal;
    }
  }
}
