@font-face {
  font-family: Inter;
  src: local("Inter Regular"), url("/fonts/Inter-Regular.woff") format("woff"),
    url("/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  unicode-range: U+000-5FF;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Inter;
  src: local("Inter Bold"), url("/fonts/Inter-Bold.woff") format("woff"),
    url("/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  unicode-range: U+000-5FF;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto Regular");
  font-weight: 400;
  font-display: swap;
  unicode-range: U+000-5FF;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto Bold");
  font-weight: 800;
  font-display: swap;
  unicode-range: U+000-5FF;
  text-rendering: optimizeLegibility;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
