@font-face {
  font-family: Roboto;
  src: local("Roboto Regular"),
    url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto Bold"), url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 800;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
